Player1: Perkins, Teer, Bostock
Player2: Hudson, Wilson, Fitzpatrick
--
Fitzpatrick: Hudson, Wilson, Teer, Perkins
Perkins: Fitzpatrick, Teer
Bostock: Wilson, Teer
Hudson: Fitzpatrick, Wilson
Wilson: Hudson, Fitzpatrick, Teer, Bostock
Teer: Fitzpatrick, Perkins, Wilson, Bostock
--
Perkins: 14
Teer: 9
Bostock: 7
Hudson: 10
Wilson: 8
Fitzpatrick: 12
