Player1: Hudson, Fitzpatrick, Wilson
Player2: Perkins, Bostock, Teer, 
Player3: Grosshall, Lily, Chapel
Player4: Brodie, Rubenstein, Oldchem
--
Hudson: Teer, Fitzpatrick, Wilson
Fitzpatrick: Hudson, Teer, Wilson, Perkins
Teer: Hudson, Fitzpatrick, Perkins
Wilson: Hudson, Fitzpatrick, Perkins, Brodie, Rubenstein
Perkins: Teer, Fitzpatrick, Wilson, Bostock
Bostock: Perkins, Rubenstein, Oldchem, Grosshall
Grosshall: Bostock, Oldchem, Lily
Lily: Oldchem, Grosshall, Chapel
Chapel: Lily, Oldchem, Brodie
Brodie: Wilson, Rubenstein, Chapel
Rubenstein: Wilson, Brodie, Bostock
Oldchem: Bostock, Rubenstein, Grosshall, Lily, Chapel
--
Hudson: 9
Fitzpatrick: 9
Wilson: 12
Perkins: 5
Bostock: 12
Teer: 13
Grosshall: 11
Lily: 10
Chapel: 9
Brodie: 7
Rubenstein: 8
Oldchem: 15
