Player1: Hudson, Fitzpatrick, Wilson
Player2: Teer, Perkins, Bostock
Player3: Rubenstein, Fuqua, Gardens
Player4: Ambler, Brodie, Chapel
Player5: Lily, Grosshall, Oldchem
--
Hudson: Bostock, Teer, Fitzpatrick
Fitzpatrick: Hudson, Teer, Perkins, Wilson
Wilson: Fitzpatrick, Lily, Ambler, Rubenstein
Teer: Hudson, Bostock, Perkins, Fitzpatrick
Perkins: Teer, Bostock, Lily, Fitzpatrick, Oldchem
Bostock: Hudson, Teer, Perkins, Oldchem
Rubenstein: Wilson, Fuqua, Ambler, Gardens
Fuqua: Rubenstein, Ambler, Gardens
Gardens: Rubenstein, Fuqua, Ambler, Chapel
Ambler: Rubenstein, Fuqua, Gardens, Brodie, Wilson
Brodie: Lily, Ambler, Grosshall, Chapel
Chapel: Grosshall, Brodie, Gardens
Lily: Perkins, Oldchem, Wilson, Brodie, Grosshall
Grosshall: Oldchem, Lily, Brodie, Chapel
Oldchem: Bostock, Perkins, Lily, Grosshall
--
Hudson: 13
Fitzpatrick: 12
Wilson: 5
Teer: 11
Perkins: 10
Bostock: 9
Rubenstein: 12
Fuqua: 6
Gardens: 12
Ambler: 11
Brodie: 7
Chapel: 12
Lily: 8
Grosshall: 9
Oldchem: 13
